.slideshow {
    overflow-x: auto;
    position: relative;
}

.move {
    transition: opacity 0.5s ease;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(calc(-100% - 400px));

    }
}
.glow::before {
    content: "";
    background: url("/icons/ellipse.svg");
    background-position: center;
    background-size: cover;
    overflow: visible;
    position: absolute;
    left: -10%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.glow::after {
    content: "";
    background: url("/icons/ellipse.svg");
    background-position: center;
    background-size: cover;
    overflow: visible;
    width: 404px;
    height: 91px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media screen and (max-width: 767px) {

    .glow::after,
    .glow::before {
        width: 200px;
        height: 50px;
    }

    .glow::after {
        left: 90%;
        top: 20%;
    }

    .glow::before {
        left: 0%;
        top: 70%;
    }
}